<div>
  <mat-toolbar color="primary">
    <span class="logo"
      ><img
        src="/assets/rosetta_full_logo_white.svg"
        alt="Rosetta Full Logo" /></span
    ><span class="title">{{ title }}</span>
    <span></span>
  </mat-toolbar>

  <section class="upload">
    <span class="text">Upload CDM JSON:</span>
    <span (click)="uploadFile.click()" class="button">
      <button mat-raised-button color="primary">Choose File</button>
      <input
        #uploadFile
        (change)="upload($event)"
        type="file"
        style="display: none"
      />
    </span>
  </section>

  <mat-divider></mat-divider>

  <section>
    <div>GRID</div>
  </section>
</div>
