:host {
  .logo {
    height: 50%;
    overflow: hidden;

    img {
      height: 100%;
      margin-left: 0;
    }
  }

  .mat-toolbar {
    display: flex;
    justify-content: space-between;
  }

  .upload {
    margin-top: 50px;
    margin-bottom: 50px;
    .text {
      margin-right: 20px;
    }
  }
}
